body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#um_video_player_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	background: black;
}

.um-videoPlayer {
	width: 100%;
	height: 100%;
}

#temporaryBackground {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: white;
}

/*************************************/
/* Video controls */
/*************************************/

#controlsContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 0;
	background: blue;
}

#progressSlider {
	width: 100%;
	height: 10px;
}

#playlistContainer {
	width: 100%;
	height: 72px;
	/*overflow: hidden;*/
}

.video {
	display: inline-block;
	overflow: hidden;
}

.thumbnailContainer img {
/*	max-width: 128px;
	height: 100%;
	margin: 0 auto;*/
	height: 72px;
}

.thumbnailContainer p {
	position: absolute;
	top: -50px;
	visibility: hidden;
}

/****************************************/
/* Time selection/Welcome screen */
/****************************************/

#timeSelectionContainer {
	position: relative;
	margin: 40px auto 0 auto;
	max-width: 1240px;
	z-index: 1;
	background: red;
}

#descriptionContainer {
	text-align: center;
}

h1, h2 {
	font-weight: 200;
}

.description {
	margin-top: 0;
}

#timeButtonContainer {
	width: 100%;
	height: 30px;
}

.timeButton {
	width: 7.6923%;
	height: 100%;
	margin: 0 0;
	float: left; /* eliminate the spaces between buttons */
	border-width: 1px;
	border-style: solid;
	border-color: black;
	outline: none; /* get rid of the the glow around buttons when clicked */
}

.timeButton:active {
	background: black;
}



