body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#um_video_player_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	background: black;
}

.um-videoPlayer {
	width: 100%;
	height: 100%;
}

#temporaryBackground {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: url("/static/the-newsroom-4.jpg");
	background-size: cover;
	-webkit-filter: blur(25px);
}

/*************************************/
/* Video controls */
/*************************************/

#controlsContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 0;
	background: blue;
	visibility: hidden;
	opacity: 0;
}

#progressSlider {
	width: 100%;
	height: 10px;
	display: none;
}

#playlistContainer {
	width: 100%;
	height: 72px;
	/*overflow: hidden;*/
}

.video {
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

.thumbnailContainer img {
/*	max-width: 128px;
	height: 100%;
	margin: 0 auto;*/
	height: 72px;
}

.thumbnailContainer p {
	position: absolute;
	top: -50px;
	visibility: hidden;
}

#played {
	position: absolute;
	width: 10%;
	height: 10%;
	left: 50%;
	top: 50%;
	margin-left: -5%;
	margin-top: -5%;
	background: rgba(0, 0, 0, .7);
	color: white;
	visibility: hidden;

	font-size: 72px;
	text-align: center;
}

#paused {
	position: absolute;
	width: 10%;
	height: 10%;
	left: 50%;
	top: 50%;
	margin-left: -5%;
	margin-top: -5%;
	background: rgba(0, 0, 0, .7);
	color: white;
	visibility: hidden;

	font-size: 72px;
	text-align: center;
}

/****************************************/
/* Time selection/Welcome screen */
/****************************************/

#timeSelectionContainer {
	position: relative;
	margin: 0px auto;
	position: relative;
	width: 50%;
	/*top: 50%;*/
	z-index: 1;
	text-align: center;
	/*padding: 50px;*/
	-webkit-transform: translateY(90%);
	-ms-transform: translateY(90%);
	transform: translateY(90%);
	color: white;
	font-weight: 200;
}

#descriptionContainer {
	text-align: center;
}

h1, h2 {
	font-weight: 200;
}

.description {
	margin-top: 0;
}

h1 {
	margin-bottom: 25px;
	font-size: 60px;
}

h2 {
	margin-bottom: 20px;
	font-size: 2em;
}

#timeButtonContainer {
	width: 100%;
	height: 50px;
	padding: 5px;
	margin-top: 10px;
	border-radius: 3px;
}

.timeButton {
	width: 7.6923%;
	margin: 0 0;
	float: left; /* eliminate the spaces between buttons */
/*	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: black;*/
	outline: none; /* get rid of the the glow around buttons when clicked */
	padding: 15px 0;
	cursor: pointer;
}

.timeButton:last-child {
	border-width: 1px;
}

.timeButton:active {
	background: black;
}



