<!DOCTYPE html>
<html>
	<head>
		<title>NewsCombinator</title>
		<link rel="stylesheet" href="/static/newsCombinator.css"></link>
	</head>
	<body>
		Watch the news.
		How much time do you have?
		<div>
			<button>A few min</button>
			<button>5 min</button>
			<button>10 min</button>
			<button>15 min</button>
			<button>20 min</button>
			<button>25 min</button>
			<button>30 min</button>
			<button>35 min</button>
			<button>40 min</button>
			<button>45 min</button>
			<button>50 min</button>
			<button>55 min</button>
			<button>60 min</button>
		</div>
		<video></video>
		<div></div> <!-- carousel -->
	</body>
</html>